@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(221, 250, 153, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/bg_1.jpg") no-repeat center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.card_wrapper {
  padding: 3rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffb740;
  margin: 1rem;
  font-weight: bold;
}

.card {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 1rem;
  width: 350px;
}

img {
  max-width: 100%;
  height: auto;
}

.card__details {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
  border-bottom-left-radius: 0;
  color: #fff;
  border: none;
  width: 343px;
  padding: 1rem 2rem;
  left: -35px;
  border-top-left-radius: 10px;
}

.card_img {
  background: #fff;
  padding: 1rem;
  border-radius: 50%;
  border: 5px solid #ffb740;
  position: absolute;
  bottom: -7px;
  right: -35px;
}
.corner {
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    47deg,
    rgba(0, 0, 0, 1) 8%,
    rgba(0, 35, 102, 1) 70%
  );
  width: 17px;
  height: 20px;
  position: absolute;
  left: 0px;
  bottom: -20px;
  border-bottom-left-radius: 176%;
}

.card__review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__info h2 {
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating .star {
  padding-right: 0.5rem;
  margin: 1rem 0;
}

a.play_video {
  padding: 0.5rem 1rem;
  border: 2px solid #000;
  border-radius: 6rem;
  background: rgb(245, 220, 25);
  background: radial-gradient(
    circle,
    rgba(245, 220, 25, 1) 0%,
    rgba(246, 181, 48, 1) 57%
  );
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease;
  cursor: pointer;
}

a.play_video:hover {
  transform: translateY(5px);
  background: rgb(245, 220, 25);
  background: radial-gradient(
    circle,
    rgba(245, 220, 25, 1) 69%,
    rgba(246, 181, 48, 1) 96%
  );
}

.card_desc {
  text-align: justify;
  padding: 0 0.5rem;
  word-wrap: break-word;
  color: #000;
  font-weight: 500;
  word-spacing: 0px;
  hyphens: auto;
  margin: 1rem 0;
}

.card_desc::before { 
  content: '”';
  font-size: 2rem;
  color: #696773;
  font-family: 'Revalia', cursive;
  position: absolute;
  top: -40px;
  left: 20px;
}




.fas {
  padding-right: 0.5rem;
}
